@font-face {
    font-family: Medium;
    src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
    font-family: Thin;
    src: url('../fonts/Gotham-Thin.otf');
}

@font-face {
    font-family: Ultra;
    src: url('../fonts/Gotham-Ultra.otf');
}